.card_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .card_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .card_list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

}